.gallery-box {
    border: none;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-img {
    width: 100%;  /* set width to 100% of its container instead of its default size */
    height: 22vw;
    margin: 5px;
    object-fit: cover; /* zooms in images when their aspect ratios don't match the div's square */
}

.gallery-container {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

#gallery-placeholder {
    margin: 40vh;
    color: white;
}

@media (max-width: 1200px) {
    .gallery-container {
        flex-basis: 50%;
    }
    .gallery-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}
