#div2-text {
    padding-top: 20px;
    transform: translateY(100%);
}

#name-splash {
    transform: translateY(-10vw);
}

@media (max-width: 800px) {
    #instagram-social-link {
        padding-top: 30px;
    }
}

@media (max-width: 1200px) {
    #div1-text {
        font-size: 1.4em;
    }

    #div2-text {
        font-size: 1.4em;
        transform: translateY(4vw);
    }

    #name-splash {
        transform: translateY(-10vw);
        line-height: 1.2;
    }
}


.patreon-subscribe-button {
    background-image: linear-gradient(168deg, #ff424d, #ffab00);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.patreon-subscribe-button:hover {
    background-image: linear-gradient(168deg, #ec3d47, #ec9f00);
}
