#div2-text {
    transform: translateY(100%);
}

#name-splash {
    transform: translateY(-10vw);
}


@media (max-width: 1200px) {
    #div1-text {
        font-size: 1.4em;
    }

    #div2-text {
        font-size: 1.4em;
        transform: translateY(4vw);
    }

    #name-splash {
        transform: translateY(-10vw);
        line-height: 1.2;
    }
}

.patreon-subscribe-button {
    background-image: linear-gradient(to right, #ff424d, #ffab00);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.patreon-subscribe-button:hover {
    background-image: linear-gradient(to right, #e03632, #ff9500);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); /* make shadow noticable */
}
